body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* navbar */
header {
    width: 100vw;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
nav{
    width: 80%;
    margin: 0px auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo h1:hover{
    cursor: pointer;
}
nav button#login_btn {
    background-color: #F8AD24;
    color: #fafafa;
    border-radius: 12px;
    border: none;
    padding: 8px 16px;
    width: 100px;
    height: 40px;
    transition: all 0.2s ease;
    font-size: 14px;
}
nav .search {
    position: relative;
}
nav .search input{
    width: 625px;
    height: 35px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 8px;
    color: #737373;
    padding: 0px 50px;
    font-weight: 500;
    font-size: 16px;
}
nav .search i {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #000;
}
nav .search input:focus{
    box-shadow: 0px 0px 5.4px #F8AD24;
    outline: none;
    padding: 0px 50px;
}
nav button#login_btn:hover {
    cursor: pointer;
    background-color: #E3A023;
}

/* Form Popup*/
.form{
    display: none;
    background-color: rgba(131, 131, 131,0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
h3 {
    font-size: 25px;
}
.form.active {
    display: block;
}
.form-data{
    position: relative;
    background-color: white;
    margin: 200px auto; 
    border-radius: 12px;
    padding: 1rem 3.5rem 2rem 2rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}
.form-data i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1rem;
}
.form-label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #1a1a1a;;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #737373;
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: white;
}

.form-input:focus {
    outline: none;
    border-color: #F8AD24;
}

.form-button {
    width: 100%;
    background-color: #F8AD24;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #E3A023;
}

.form-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #1a1a1a;;
}

.form-link a {
    color: #F8AD24;
    text-decoration: none;
    cursor: pointer;
}


.container {
    max-width: 80vw;
    margin: 50px auto;
    max-height: 100vh;
}
.container_header {
    text-align: center;
}
.courses-section {
    display: flex;
    flex-direction: column;
}
.course-grid {
    border: 1px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}





/* Upload button */





.upload-button{
    background-color: #F8AD24;
    position: fixed;
    padding: 20px;
    border-radius: 50%;
    border: 5px solid white;
    color: white;
    right: 50px;
    bottom: 50px;
    transition: all 0.3s ease;
}
.upload-button:hover {
    background-color: #E3A023;;
    transform: scale(1.05);
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
}